body {
  background-color: #E4E2DD;
}

nav {
  display:flex;
  justify-content: space-between;
}

.navlinks {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration:none;
  color: orange;
  font-size: 18px;
}

#uofm {
  margin-bottom: 4px;
}


