@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #010511;
  
}

nav {
  display:flex;
  justify-content: space-between;
}

.navlinks {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration:none;
  color: orange;
  font-size: 18px;
}

#uofm {
  margin-bottom: 4px;
}

.bottomfoot {
  position: static;
  bottom: 0;
  width: 100%;
}

.codeoverride {
  font-family:monospace;
  color:rgb(255, 255, 255);
}

.footer1 {
  display:flex;
  text-align: center;
  position:inherit;
  left:0;
  bottom:0;
  right:0;
  
}

.footer2 {
  display:flex;
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  
}

.footicon {
  margin-left: 3px;
  color: red;
}

.splash-content {
  margin-top: 120px;
  width: 1920x;
  color: white;
}

.avatar-center {
  text-align: center;
}

.flag-size {
  width: 60px;
  height: 64px;
}

.splash-h1 {
  font-size: 42px;
  font-family: 'Montserrat'
}

.splash-h3 {
  font-size: 18px;
}

.splash-btn {
  margin: 10px;
  font-family: 'Montserrat';
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-align:center;
}

.splash-btn:hover {
  color:rgb(183, 185, 185);
}

.splash-div {
  margin-top: 60px;
}

.loading {
  height: 12px;
}

.div-sep {
  margin-bottom: 10px;
}

#indev {
  font-size: 13px;
  font-weight: 800;
  text-align:center;
  color:red;
  font-family: Montserrat;
}

.splash-icons {
  color:white;
}

.message-icons {
  color:white;
}

.message-icons:hover {
  color:white;
}

.message-box {
  display:flex;
  
  height: 700px;
  width: 1000px;
  justify-content: center;
  margin-top: 80px;
  font-family: Montserrat;
  overflow-y: auto;
  flex-wrap:wrap;
}

.message-box::-webkit-scrollbar {
  display: none;
}

.message-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

nav {
  display:flex;
  justify-content: flex-end;
  margin-bottom: 14px;
}

.tripleline {
  color:white;
  margin-top: 6px;
  margin-right: 12px;
} 

.dropdownnav {
  display:flex;
  justify-content: center;
}

.message-h1 {
  color:rgb(183, 185, 185);
}

.project-img1 {
  height: 175px;
  width: 350px; 
  border-radius: 8px; 
}

.project-img2 {
  height: 175px;
  width: 350px;
  border-radius: 8px;
}

.project-img3 {
  height: 175px;
  width: 350px;
  border-radius: 8px;
}

.deploy-links {
  color:white;
  text-decoration: none;
}

.deploy-links:hover {
  color:red;
  font-weight: 700;
}

.no-deploy {
  color:rgb(183, 185, 185);
}

.faq {
  width: 600px;
  margin-left: 125px;
}

.faq-style {
  background-color:transparent;
  color:white;
  opacity: calc(50%);
}

.faq-style:not(.collapsed) {
  opacity: calc(100%);
}


.faq-arrow {
  color:white;
}

.accordion-button:not(.collapsed) {
  color:white;
  background-color: transparent;
}

.faq-margin {
  margin-top:300px;
  align-items:center;
}





















